<!DOCTYPE html>
<html>

<head>
    <title>Shelu Singh</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <div id="background">

        <div class="container">

            <img src="/images/profile.JPG" class="profile-pic">

            <h1>SHELU SINGH</h1>

            <h2>Cloud & DevOps Engineer</h2>

            <section>
                <h3>About Me</h3>

                <p>
                    an aspiring Cloud & DevOps Engineer driven by curiosity and continuous learning. 
                    I enjoy building scalable applications, automating workflows, and working with modern technologies to deliver reliable and efficient solutions.
                    My goal is to grow into an engineer who creates meaningful impact through innovation, collaboration
                    , and a strong foundation in cloud and DevOps practices.
                </p>
            </section>

            <section>
                <h3>Skills</h3>

                <ul>
                    <li>Linux</li>
                    <li>Git & GitHub</li>
                    <li>Docker</li>
                    <li>Networking</li>
                    <li>AWS</li>
                    <li>Terraform</li>
                    <li>Jenkins</li>
                    <li>Node.js</li>
                </ul>
            </section>

            <section>
                <h3>Projects</h3>

                <ul>
                    <li>Dockerized Node Application</li>
                    <li>CI/CD Pipeline using GitHub Actions</li>
                    <li>Kubernetes Deployment</li>
                </ul>
            </section>

            <section>
                <h3>Contact</h3>

                <p>Email : shelu16singh@gmail.com</p>
                <p>GitHub : <a href="https://github.com/bhati04" target="_blank">github.com/bhati04</a></p>
                <p>LinkedIn : <a href="https://linkedin.com/in/shelu-singh-656a86291" target="_blank">linkedin.com/in/yourprofile</a></p>
            </section>

        </div>

    </div>

    <!-- Three.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>

    <!-- Vanta.js -->
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>

    <script>
        VANTA.NET({
            el: "#background",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            color: 0x3b82f6,
            backgroundColor: 0x111827,
            points: 12,
            maxDistance: 20,
            spacing: 18
        });
    </script>

</body>

</html>